body {
    &.about-us {
        @extend %margin-center;
        @extend %wrapper;

        > section {
            font-family: $Font-Lato;

            > article {
                &.message {
                    background-color: white;
                    border-left: 5px solid lightgrey;
                    margin-bottom: 40px;
                    padding: 30px;

                    p {
                        margin-left: 30px;
                    }
                }

                &.program-description {
                    margin-bottom: 30px;
                    padding-left: 30px;

                    p {
                        &.description {
                            padding-left: 20px;
                        }
                    }
                }
            }

            > section {
                @include outer-container;

                > div {
                    @include span-columns(5);
                }

                > ul {
                    @include span-columns(7);

                    padding-left: 0;
                }
            }

            ul {
                li {
                    margin: 15px 0;
                }
            }
        }
    }
}