$Color-White: #FFFFFF;
$Color-Light_Grey: #CFCFCF;
$Color-Light_Blue: #3e8eff;
$Color-Black: #000000;

$Font-Lato: 'Lato', sans-serif;
$Font-Palatino: Palatino, Georgia, serif;
$Font-Roboto: 'Roboto', sans-serif;
$Font-Roboto_Condensed: 'Roboto Condensed', sans-serif;

$Settings-Global-Width: 1000px;