body {
    &.curriculum {
        @extend %margin-center;
        @extend %wrapper;

        font-family: $Font-Lato;

        .genres {
            margin: 30px 0;
            padding-left: 60px;
        }

        blockquote {
            margin-top: 40px;
        }
    }
}