body {
    &.mission {
        @extend %margin-center;
        @extend %wrapper;

        > section {
            font-family: $Font-Lato;

            > section {
                @include outer-container;

                margin-bottom: 30px;

                > div {
                    @include span-columns(5);
                    @include omega();

                    margin: 20px 20px 20px 0;
                }

                > article {
                    @include span-columns(7);

                    padding-left: 10px;
                }
            }
        }
    }
}